@import "../src/css/lib"


.selectappid
	vendor-property display box
	
#editor_holder
	margin-top 20px
	
.createbtn
	width 60px
	height 60px
	background blue
	color #fff
	position fixed
	right 0
	top 0
	border-radius @width
	text-align center
	line-height @height
	
.updatebtn
	width 60px
	height 60px
	background red
	color #fff
	position fixed
	right 0
	bottom 0
	border-radius @width
	text-align center
	line-height @height
	
input
	width 90%