// deprecated

@import "lib"
@import "common"

// @import "album"
// @import "search"
// @import "main-tab"
// @import "album-tool-bar"
// @import "magazine"

// @import "page-index"
// @import "page-album"
// @import "page-search"
// @import "page-life"
// @import "page-user"
// @import "page-searchimg"
// @import "page-album-centaline"

// app common
article.vpage
  > header
    > h1
      color: #fff
      text-align: center
      line-height: PAGE_HEADER_HEIGHT